<div class="sign-wrapper">
    <div class="text-center">
        <form class="form-sign">
            <img src="../../../assets/angular.png" alt="Angular Logo" class="mb-4" width="72" height="72">
            <h1 class="h3 mb-3 font-weight-normal">Logowanie</h1>
            <label for="inputEmail" class="sr-only">Adres email</label>
            <input type="email" name="inputEmail" id="inputEmail" placeholder="Adres email" class="form-control"
                required autofocus>
            <label for="inputPassword" class="sr-only">Hasło</label>
            <input type="password" name="inputPassword" id="inputPassword" placeholder="Hasło" class="form-control"
                required>
            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me">
                    Zapamiętaj mnie
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block">Zaloguj się</button>
            <p class="mt-5 mb-3 text-muted">
                Nie masz konta?
                <a href="">Zarejestruj się</a>
            </p>
        </form>
    </div>
</div>