<div class="container">
  <div class="wrapper">
    <div class="button-wrapper" *ngIf="!isLoading">
      <button class="btn btn-secondary" *ngIf='isAuthenticated && userDisplayName' routerLink='/profile'>Mój
        profil</button>
      <button class="btn btn-primary" id='loginBtn'
        (click)="onLoginButtonClicked()">{{isAuthenticated ? 'Wyloguj się' : 'Zaloguj się'}}</button>
    </div>
  </div>
  <div *ngIf='isLoading' class="spinner-wrapper">
    <app-spinner></app-spinner>
  </div>
  <div *ngIf="!isAuthenticated">
    <h1>Witaj!</h1>
    <br>
    <p>Ta aplikacja pozwala na przechowywanie podstawowych danych o Twoim ciele.</p>
    <p>Użyj jej, aby monitorować stan swojego zdrowia oraz BMI.</p>
    <p class="getting-started"><a routerLink="login">Zaloguj się,</a> aby rozpocząć.</p>
    <h3 class="description-footer">Nie masz jeszcze konta? <a routerLink="register" id="register">Zarejestruj się.</a>
    </h3>
  </div>

  <div *ngIf='isAuthenticated && !userDisplayName && !isLoading'>
    <app-landing-first-login (firstLoginSubmit)="onFirstLoginSubmit($event)"></app-landing-first-login>
  </div>
  <div *ngIf='isAuthenticated && userDisplayName && !isLoading'>
    <div class="table-chart">
      <app-landing-table></app-landing-table>
      <app-chart></app-chart>
    </div>
  </div>
</div>
