<div class="container">
  <div class="wrapper">
    <div class="button-wrapper">
      <button class="btn btn-primary"
        (click)="loginBtnClickHandler()">{{isAuthenticated ? 'Wyloguj się' : 'Zaloguj się'}}</button>
    </div>
  </div>
  <div>
    <h1>Witaj!</h1>
    <br>
    <p>Ta aplikacja pozwala na przechowywanie podstawowych danych o Twoim ciele.</p>
    <p>Użyj jej, aby monitorować stan swojego zdrowia oraz BMI.</p>
    <p class="getting-started">Zaloguj się, aby rozpocząć.</p>
    <h3 class="description-footer">Nie masz jeszcze konta? <a routerLink="register">Zarejestruj się.</a></h3>
  </div>
</div>
