<div class="sign-wrapper">
    <div class="text-center">
        <form class="form-sign">
            <img src="../../../assets/angular.png" alt="Angular Logo" class="mb-4" width="72" height="72">
            <h1 class="h3 mb-3 font-weight-normal">Rejestracja</h1>
            <label for="inputFirstName" class="sr-only">Imię</label>
            <input type="text" name="inputFirstName" id="inputFirstName" placeholder="Imię" class="form-control"
                required autofocus>

            <label for="inputLastName" class="sr-only">Nazwisko</label>
            <input type="text" name="inputLastName" id="inputLastName" placeholder="Nazwisko" class="form-control"
                required>

            <label for="inputEmail" class="sr-only">Adres email</label>
            <input type="email" name="inputEmail" id="inputEmail" placeholder="Adres email" class="form-control"
                required>
            <label for="inputPassword" class="sr-only">Hasło</label>
            <input type="password" name="inputPassword" id="inputPassword" placeholder="Hasło" class="form-control"
                required>
            <label for="checkPassword" class="sr-only">Powtórz hasło</label>
            <input type="password" name="checkPassword" id="checkPassword" placeholder="Powtórz hasło"
                class="form-control" required>
            <button class="btn btn-lg btn-primary btn-block">Zarejestruj się</button>
            <p class="mt-5 mb-3 text-muted">
                Masz już konto?
                <a href="">Zaloguj się</a>
            </p>
        </form>
    </div>
</div>